# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# sqlite
*.sqlite
*.sqlite3

# staticfiles
staticfiles/*
!staticfiles/.gitkeep

# os x files
.DS_Store
