asn1crypto==0.23.0
attrs==17.3.0
autobahn==17.10.1
Automat==0.6.0
bintrees==2.0.7
cbpro==1.1.4
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
coinbase==2.1.0
constantly==15.1.0
cryptography==3.2
dateparser==0.7.0
Django==1.11.23
django-bootstrap-ui==0.5.1
django-bower==5.2.0
django-encrypted-model-fields==0.5.3
django-nvd3==0.9.7
django-sendgrid-v5==0.6.84
django-tag-parser==2.1
django-twitter-bootstrap==3.3.0
dominate==2.1.17
gunicorn==19.7.1
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.18
Jinja2==2.9.6
krakenex==2.0.0
MarkupSafe==1.0
mysqlclient==1.3.12
poloniex==0.0.11
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto==2.6.1
pycryptodome==3.6.6
pyetherscan==0.1.2
pymongo==3.5.1
pyOpenSSL==17.4.0
python-binance==0.4.1
python-bittrex==0.3.0
python-dateutil==2.7.3
python-http-client==3.0.0
python-kucoin==0.1.12
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2017.3
ratelimit==2.2.0
raven==6.3.0
redis==2.10.6
regex==2018.8.17
requests==2.13.0
requests-cache==0.4.13
retrying==1.3.3
sendgrid==5.3.0
service-identity==17.0.0
signals==0.0.2
six==1.10.0
sortedcontainers==2.0.5
Twisted==17.9.0
txaio==2.8.2
tzlocal==1.5.1
Unidecode==0.4.21
urllib3==1.22
websocket-client==0.40.0
whitenoise==3.3.1
zope.interface==4.4.3
