{% extends 'base.html' %}

{% block title %} {{ user.username }}'s cryptofolio {% endblock %}

{% block content %}

{% load nvd3_tags %}
<head>
    {% if has_data == True %}
    {% include_chart_jscss %}
    {% load_chart crypto_piechart.charttype crypto_piechart.chartdata crypto_piechart.chartcontainer crypto_piechart.extra %}
    {% load_chart fiat_piechart.charttype fiat_piechart.chartdata fiat_piechart.chartcontainer fiat_piechart.extra %}
    {% endif %}
</head>
<body>

    {% if has_data == True %}
    <div class="row py-2">
        <div class="col-md-4">
            <label>
                <b>Cryptocurrency holdings:</b>
            </label>
        </div>
        <div class="col-md-8">
            <input 
                type="text"
                class="form-control"
                disabled
                value="{{ fiat_sum|floatformat:-8 }} {{ fiat }}"
             />
        </div>
    </div>

    {% if other_balances %}
    <div class="row">
        <div class="col-md-4">
            <label>
                <b>Other:</b>
            </label>
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Currency</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for balance in other_balances|dictsortreversed:"amount" %}
                    <tr>
                        <td>{{ balance.currency }}</td>
                        <td>{{ balance.amount|floatformat:-8 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Amount in {{ fiat }}</th>
                </tr>
            </thead>
            <tbody>
                {% for balance in balances|dictsortreversed:"amount_fiat" %}
                <tr>
                    <td>{{ balance.currency }}</td>
                    <td>{{ balance.amount|floatformat:-8 }}</td>
                    <td>{{ balance.amount_fiat|floatformat:-8 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>

    <div>
        <h3>Balances in {{ fiat }}</h3>
        {% include_container fiat_piechart.chartcontainer 400 '100%' %}
    </div>
    <hr>

    <div>
        <h3>Balances</h3>
        {% include_container crypto_piechart.chartcontainer 400 '100%' %}
    </div>

    {% else %}
    <p>Nothing to show :(</p>
    <p>Please add API keys and secrets in <a href="{% url 'settings' %}">settings</a>!</p>
    {% endif %}
</body>

{% endblock %}

