{% extends 'base.html' %}

{% block title %}Investment Balance Entry {% endblock %}

{% block content %}
<div>
    <div class="pt-2">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                {% if form.amount.errors %}
                {% for error in form.amount.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|safe }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="{{ form.amount.id_for_label }}">
                            {{ form.amount.label }}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input
                            type="text"
                            class="form-control"
                            id="{{ form.amount.id_for_label }}"
                            name="{{ form.amount.name }}"
                            value="{{ form.amount.value|default_if_none:"0" }}"
                        />
                        {% if form.amount.help_text %}
                        <small class="form-text text-muted">
                            {{ form.amount.help_text|safe }}
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {% if form.fiat.errors %}
                {% for error in form.fiat.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|safe }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="{{ form.fiat.id_for_label }}">
                            {{ form.fiat.label }}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <select
                            class="form-control"
                            id="{{ form.fiat.id_for_label }}"
                            name="{{ form.fiat.name }}">
                            {% for value, text in form.fiat.field.choices %}
                            <option value={{ value }} {% if value|stringformat:"s" == form.fiat.value %} selected {% endif %}>
                            {{ text|capfirst }}
                            </option>
                            {% endfor %}
                        </select>

                        {% if form.fiat.help_text %}
                        <small class="form-text text-muted">
                            {{ form.fiat.help_text|safe }}
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

<div class="pt-2">
    {% if investments %}
    <table class="table table-striped">
        <thead>
            <tr><th>Amount</th><th>Currency</th><th>Last modified</th><th>Action</th></tr>
        </thead>
        <tbody>
            {% for investment in investments %}
            <tr>
                <td>{{ investment.amount| floatformat:8 }}</td>
                <td>{{ investment.fiat.name  }}</td>
                <td>{{ investment.timestamp }}</td>
                <td>
                    <form action="{% url 'remove_investment_input' investment.id  %}">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Remove"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div

{% endblock %}

