{% extends 'base.html' %}

{% block content %}
<h3>Forgot password</h3>
<hr>
{% if validlink %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error|safe }}
            </div>
        {% endfor %}
        {% endif %}
        <div class="form-row">
            <div class="col-md-4">
                <label for="{{ form.new_password1.id_for_label }}">
                    {{ form.new_password1.label }}:
                </label>
            </div>
            <div class="col-md-8">
                <input 
                    type="password" 
                    class="form-control"
                    id="{{ form.new_password1.id_for_label }}" 
                    name="{{ form.new_password1.name }}" 
                    placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
                 />
                {% if form.new_password1.help_text %}
                <small class="form-text text-muted">
                    {{ form.new_password1.help_text|safe }}
                </small>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group">
        {% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error|safe }}
            </div>
        {% endfor %}
        {% endif %}
        <div class="form-row">
            <div class="col-md-4">
                <label for="{{ form.new_password2.id_for_label }}">
                    {{ form.new_password2.label }}:
                </label>
            </div>
            <div class="col-md-8">
                <input 
                    type="password" 
                    class="form-control"
                    id="{{ form.new_password2.id_for_label }}" 
                    name="{{ form.new_password2.name }}" 
                    placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
                 />
                {% if form.new_password2.help_text %}
                <small class="form-text text-muted">
                    {{ form.new_password2.help_text|safe }}
                </small>
                {% endif %}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Change password</button>
</form>
{% else %}
<p>
The password reset link was invalid, possibly because it has already been used.
Please request a new password reset.
</p>
{% endif %}
{% endblock %}
