{% extends 'base.html' %}

{% block content %}
<h3>Forgot password</h3>
<hr>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.email.errors  }}
        <div class="form-row">
            <div class="col-md-4">
                <label for="{{ form.email.id_for_label }}">
                    {{ form.email.label }}:
                </label>
            </div>
            <div class="col-md-8">
                <input 
                 type="email" 
                 class="form-control"
                 id="{{ form.email.id_for_label }}" 
                 name="{{ form.email.name }}" 
                 />
                {% if form.email.help_text %}
                <small class="form-text text-muted">
                    {{ form.email.help_text|safe }}
                </small>
                {% endif %}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

