{% extends 'base.html' %}

{% block title %}Policy{% endblock %}

{% block content %}

<body>
    <h3>Policy</h3>
    <ul>
        <li>
            You must be at least 18 years old to use this site.
        </li>
        <li>
            Add API keys, secrets, and passphrases at your own risk. We don't 
            expose them to the public, but make sure you set them to have 
            only read permissions.
        </li>
        <li>
            The risk of loss in trading or holding Digital Currency can be 
            substantial. You should therefore carefully consider whether trading
            or holding Digital Currency is suitable for you in light of your 
            financial condition.
        </li>
    </ul>
</body>

{% endblock %}

