{% extends 'base.html' %}

{% block title %}Policy{% endblock %}

{% block content %}

<body>
    <h3 style="text-align: center;">Terms of Usage and Privacy Policy</h3>
    <hr>
    <div>
        <p>
            You must be at least 18 years old to use this site.
        </p>
        <p>
            Adding API keys, secrets, and passphrases at your own risk.
            Cryptofolio doesn't expose them to the public, but make sure
            you set them to have only read permissions.
        </p>
        <p>
            The risk of loss in trading or holding Digital Currency can be
            substantial. You should therefore carefully consider whether trading
            or holding Digital Currency is suitable for you in light of your
            financial condition.
        </p>
        <p>
            Cryptofolio strives to ensure that all information contained on
            pages is correct and up to date. We cannot, however, accept
            responsibility for the content of external websites linked to through
            Cryptofolio. Third party content is accessed at the user’s own risk.

            Cryptofolio cannot accept responsibility for any loss or
            inconvenience caused by reliance on any material contained in this
            site.
        </p>
        <p>
            Please note that despite the nature of much of the material created and
            hosted on this website, Cryptofolio is not a financial reference
            resource and the opinions of authors and other contributors are their
            own and should not be taken as financial advice. If you require advice
            of this sort, Cryptofolio strongly recommends contacting a qualified
            industry professional.

            All materials on this site are for informational purposes only. None of
            the material should be interpreted as investment advice.
        </p>
        <p>
            You agree to release us, our affiliates, and third-party service
            providers, and each associated director, employee, agents, and
            officers, from claims, demands and damages (actual and consequential),
            of every kind and nature, known and unknown, disclosed or undisclosed,
            arising out of or in any way connected to your use of Cryptofolio.
        </p>
        <p>
            By using Cryptofolio, you agree and consent to the policies
            contained in the above Terms of Usage and Privacy Policy.
        </p>
    </div>
</body>

{% endblock %}

