{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

<body>
    <h3>Balance settings</h3>
    <div class="row">
        <div class="col-md-8">
            <div class="list-group">
                <a
                 class="list-group-item list-group-item-action"
                 href="{% url 'address_input' %}">
                    Address Entry
                </a>

                <a
                 class="list-group-item list-group-item-action"
                 href="{% url 'manual_input' %}">
                    Manual Balance Entry
                </a>

                <a
                 class="list-group-item list-group-item-action"
                 href="{% url 'investment_input' %}">
                    Investment Balance Entry
                </a>
            </div>
        </div>
    </div>
    <hr>

    <h3>Exchange settings</h3>
    <div class="row">
        <div class="col-md-8">
            <div class="list-group">
                {% for exchange in exchanges %}
                <a
                    class="list-group-item list-group-item-action"
                    href="{% url 'exchange' exchange.name %}">
                    {{exchange.name}}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% if exchanges %}
            <div class="list-group">
                <span class="list-group-item">
                    <form method="post" action="{% url 'refresh_balances' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">
                            Refresh all
                        </button>
                    </form>
                    &nbsp;
                    <form method="post" action="{% url 'remove_balances' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            Remove all
                        </button>
                    </form>
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <h3>User settings</h3>
    <div class="row">
        <div class="col-md-8">
            <div class="list-group">
                <a
                 class="list-group-item list-group-item-action"
                 href="{% url 'details' %}">
                    Change profile
                </a>
                <a
                 class="list-group-item list-group-item-action"
                 href="{% url 'password' %}">
                    Change password
                </a>
            </div>
        </div>
    </div>
</body>

{% endblock %}

