{% extends 'base.html' %}

{% block content %}
<h3>Sign up</h3>
<hr>
<form method="post">
    {% csrf_token %}

    <div class="form-group">
        {% if form.username.errors %}
        {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error|safe }}
            </div>
        {% endfor %}
        {% endif %}
        <div class="form-row">
            <div class="col-md-4">
                <label for="{{ form.username.id_for_label }}">
                    {{ form.username.label }}:
                </label>
            </div>
            <div class="col-md-8">
                <input
                    type="text"
                    class="form-control"
                    id="{{ form.username.id_for_label }}"
                    name="{{ form.username.name }}"
                    placeholder="johndoe"
                 />
                {% if form.username.help_text %}
                <small class="form-text text-muted">
                    {{ form.username.help_text|safe }}
                </small>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group">
        {% if form.email.errors %}
        {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error|safe }}
            </div>
        {% endfor %}
        {% endif %}
        <div class="form-row">
            <div class="col-md-4">
                <label for="{{ form.email.id_for_label }}">
                    {{ form.email.label }}:
                </label>
            </div>
            <div class="col-md-8">
                <input
                    type="email"
                    class="form-control"
                    id="{{ form.email.id_for_label }}"
                    name="{{ form.email.name }}"
                    placeholder="johndoe@example.com"
                 />
                {% if form.email.help_text %}
                <small class="form-text text-muted">
                    {{ form.email.help_text|safe }}
                </small>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group">
        {% if form.first_name.errors %}
        {% for error in form.first_name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error|safe }}
            </div>
        {% endfor %}
        {% endif %}
        <div class="form-row">
            <div class="col-md-4">
                <label for="{{ form.first_name.id_for_label }}">
                    {{ form.first_name.label }}:
                </label>
            </div>
            <div class="col-md-8">
                <input
                    type="text"
                    class="form-control"
                    id="{{ form.first_name.id_for_label }}"
                    name="{{ form.first_name.name }}"
                    placeholder="John"
                 />
                {% if form.first_name.help_text %}
                <small class="form-text text-muted">
                    {{ form.first_name.help_text|safe }}
                </small>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group">
        {% if form.last_name.errors %}
        {% for error in form.last_name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error|safe }}
            </div>
        {% endfor %}
        {% endif %}
        <div class="form-row">
            <div class="col-md-4">
                <label for="{{ form.last_name.id_for_label }}">
                    {{ form.last_name.label }}:
                </label>
            </div>
            <div class="col-md-8">
                <input
                    type="text"
                    class="form-control"
                    id="{{ form.last_name.id_for_label }}"
                    name="{{ form.last_name.name }}"
                    placeholder="Doe"
                 />
                {% if form.last_name.help_text %}
                <small class="form-text text-muted">
                    {{ form.last_name.help_text|safe }}
                </small>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group">
        {% if form.password1.errors %}
        {% for error in form.password1.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error|safe }}
            </div>
        {% endfor %}
        {% endif %}
        <div class="form-row">
            <div class="col-md-4">
                <label for="{{ form.password1.id_for_label }}">
                    {{ form.password1.label }}:
                </label>
            </div>
            <div class="col-md-8">
                <input
                    type="password"
                    class="form-control"
                    id="{{ form.password1.id_for_label }}"
                    name="{{ form.password1.name }}"
                    placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
                 />
                {% if form.password1.help_text %}
                <small class="form-text text-muted">
                    {{ form.password1.help_text|safe }}
                </small>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group">
        {% if form.password2.errors %}
        {% for error in form.password2.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error|safe }}
            </div>
        {% endfor %}
        {% endif %}
        <div class="form-row">
            <div class="col-md-4">
                <label for="{{ form.password2.id_for_label }}">
                    {{ form.password2.label }}:
                </label>
            </div>
            <div class="col-md-8">
                <input
                    type="password"
                    class="form-control"
                    id="{{ form.password2.id_for_label }}"
                    name="{{ form.password2.name }}"
                    placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
                 />
                {% if form.password2.help_text %}
                <small class="form-text text-muted">
                    {{ form.password2.help_text|safe }}
                </small>
                {% endif %}
            </div>
        </div>
    </div>

    <p>
        By signing up you agree to
        <a href="{% url 'policy' %}">
            Terms of Usage and Privacy Policy
        </a>.
    </p>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>
{% endblock %}

